<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Автор поста</strong>
    <small>20.06.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid debitis distinctio, dolorem est et eum facilis hic mollitia odio, officiis quis sapiente sint ullam vel voluptate voluptatum. Ipsum, numquam! Alias magnam modi quasi similique voluptatibus! Alias asperiores culpa distinctio laborum nam, nemo nisi numquam obcaecati quam quisquam reiciendis reprehenderit repudiandae sed similique sint tempora tempore totam! Consequatur, optio, similique!</p>
  </div>
</div>
